<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Vue To Do List</title>
</head>
<body>

    <header>
        <img src="https://www.boolean.careers/images/misc/logo.png" alt="logo boolean">
    </header>

    <main>
        <div id="app">
            <input type="text" placeholder="Nuovo Todo" v-model="nuovoTodo" @keyup.enter="addTodo">
            <button @click="addTodo">Aggiungi</button>
            <div id="todo">
                <h1 v-if="todos == '' ">Non ci sono Todos</h1>
                <ul v-else>
                    <li v-for="(todo,index) in todos"> {{todo}} <i class="fas fa-trash" @click="remove(index)"></i> </li>
                </ul>
            </div>
        </div>
    </main>
    
    <script src="js/script.js"></script>
</body>
</html>